@model Shop.Models.Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробности</h2>

<p>ID: @Model.Id</p>
<p>Название продукта: @Model.Title</p>
<p>Стоимость: @Model.Price</p>